* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header {
  display: flex;
  background-color: rgb(108, 131, 182);
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 150px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  position: relative;
  float: left;
}
.menu ul li a{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: white;
  text-decoration: none;
  display: block;
}
.menu ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}
/* etiqueta main */
main{
    width: 90%;
    background-color: rgba(71, 204, 191, 0.521);
    margin: 0 auto;
}
.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.container .card{
    background-color: white;
    width: 270px;
    border-style: dashed;
    border-radius: 10px;
    box-shadow: 0px 8px 10px black ;
}
.container .card img{
    width: 50%;
}
.container .card h3{
    font-size: 25px;
    background-color: khaki;
    text-align: center;
    padding: 3px;
    font-weight: bold;
}
.container .card p{
    text-align: justify;
    padding: 10px;
    font-size: 16px;
}
.primeraletra::first-letter{
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}

footer{
    text-align: center;
    letter-spacing: 5px;
    padding: 30px;
    background-color: rgb(6, 6, 197);
    color: white;
}


/* /SELECTOR UNIVERSAL PARA CONTROLAR LOS MARGENES Y RELLENOS/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/Estilo para body/
body{
 background-image: url("../img/fondo.webp");
 background-repeat: no-repeat ;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

/ESTILO PARA ENACABEZADO/
header{
    background-color: maroon;
}

.logo img{
    width: 250px;
} */
